@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



ul li a{
    color: #fff;
}


.justified-text{
    text-align: justify;
}


.video-container:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}


.mm1 {
    -webkit-mask-image: url("../img/Abdulkadir_civioglu.png");
    -webkit-mask-repeat: no-repeat;
    mask-image: url("../img/Abdulkadir_civioglu.png");
    mask-repeat: no-repeat;
    
}






@media screen and (max-width:720px){
    .text-white h5{
        font-size: 1.2rem;
    }
    .text-white h1{
        font-size: 2.3rem;
        white-space: nowrap;
    }


}


@media screen and (max-width:520px){
    .fs-sm-3{
        font-size: 1.2rem !important;
    }
}